/.idea/codeStyles/codeStyleConfig.xml
/.idea/ev.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/.coverage
/codecov
/coverage.xml
/tests/.pytest_cache/*
